@import 'https://fonts.googleapis.com/css?family=Ubuntu';
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: none;
}
canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#crosshair1 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 10px;
    z-index: 10;
    background-color: white;
}
#crosshair2 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 2px;
    z-index: 10;
    background-color: white;
}
#amo {
    position: absolute;
    left: 90%;
    top: 90%;
    font-size: 40px;
    color:white;
    z-index: 10;
    font-family: 'Ubuntu', sans-serif;
}





.acceuil{
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: rgba(200,200,200,0.5); 
}
.popup{
    height: 50vh;
    width: 50vw;
    background-color: white;
    position: absolute;
    left: 25vw;
    top:25vh;
    border-radius: 3px;
    
}
.btn-pseudo{
    position: absolute;
    bottom: 20%;
    right: 20%;
}
.form-pseudo{
    position: absolute;
    top:50%;
    width: 80%;
}
