@import 'https://fonts.googleapis.com/css?family=Ubuntu';
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0)!important;
}
canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#crosshair1 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 10px;
    z-index: 10;
    background-color: white;
}
#crosshair2 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 2px;
    z-index: 10;
    background-color: white;
}
#amo {
    position: absolute;
    left: 90%;
    top: 90%;
    font-size: 40px;
    color:white;
    z-index: 10;
    font-family: 'Ubuntu', sans-serif;
}
.lifebar{
    position: absolute;
    height: 20px;
    top:40px;
    left:25vw;
    width: 50vw;
    border: 2px solid white;
    border-radius: 25px;
}
.actualLife{
    height: 100%;
    width: 50%;
    background-color: aqua;
    border-radius: 25px;
}




.acceuil{
    /*height: 100vh;
    width: 100vw;
    z-index: 999;*/
    background-color: rgba(200,200,200,0.5); 
}
.popup{
    min-height: 200px;
    min-width: 200px;
    height: 50vh;
    width: 50vw;
    background-color: white;
    position: absolute;
    left: 25vw;
    top:25vh;
    border-radius: 3px;

}
.popup>h1{
    margin : 5%;

}
.btn-pseudo{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.form-pseudo{
    position: absolute;
    bottom: 70px;
    right : 5%;
    width: 90%!important;
}
#interface{
    position: absolute;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    top:0;
    pointer-events: none;
}
#chat{
    position: absolute;
    z-index: 10;
    height: 20%;
    width: 500px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow-y: hidden;
    pointer-events: none;
    background-color: rgba(0,0,0,0.2);
}